*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  font-family: "Roboto", sans-serif;
}

header {
  background-color: #ffc017;
}

nav {
  background-color: #ffc017;
  padding-top: 1.3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 1rem;
  border-bottom: 1px solid #191919;
  position: sticky;
  top: 0;
  z-index: 2;
}

#logo svg {
  width: 200px;
}

#navItems {
  display: flex;
  align-items: center;
  flex-grow: 0.1;
  justify-content: space-between;
  flex-grow: 0.1;
}
span a {
  color: #191919;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  text-decoration: none;
}
.btn {
  background-color: #191919;
  border: none;
  border-radius: 20px;
  padding-block: 0.7rem;
  padding-inline: 1.2rem;
}
.btn a {
  color: rgb(240, 240, 240);
  font-weight: 500;
  text-decoration: none;
}
#heading {
  height: 450px;
  border-bottom: 1px solid #191919;
  display: flex;
  justify-content: flex-end;
}
#title {
  margin-top: 5rem;
  padding-right: 3rem;
  flex-basis: 50%;
}
h2 {
  font-family: "Spectral", serif;
  font-size: 115px;
  font-weight: 400;
  margin-bottom: 1rem;
  letter-spacing: -8px;
}
#title p {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  font-weight: 400;
  width: 60%;
}
.startReading {
  margin-top: 3.5rem;
  padding-inline: 3rem;
  padding-block: 0.5rem;
  font-size: 20px;
  border-radius: 30px;
}

/*TRENDING*/
#trendHeading {
  margin-top: 2rem;
  padding-inline-start: 9rem;
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
  font-weight: 500;
}

#trending {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 250px;
  border-bottom: 1px solid black;
}

.trendingArticle {
  width: 28%;
  display: flex;
}
.index {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  padding-inline: 1rem;
  color: #e9e8e8;
  font-weight: 500;
}
.articleInfo {
  padding-top: 0.5rem;
}
.author {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 13px;
  margin-bottom: 0.5rem;
}
.author img {
  border-radius: 50%;
  width: 20px;
  margin-right: 0.5rem;
}
.articleTitle {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
.dateReadingTime {
  font-size: 13px;
  color: #5f5f5f;
  display: flex;
}
#mainContent {
  display: flex;
  justify-content: center;
}
main {
  margin-inline: 5rem;
}

/*ARTICLES*/
section {
  width: 45%;
}

.article {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}
.articleInfo {
  display: flex;
}
.articleImg {
  margin-inline-start: 1rem;
}
.articleImg img {
  width: 200px;
}
.MainArtsAuthor {
  display: flex;
  align-items: center;
  margin-bottom: 0.8rem;
}
.MainArtsAuthor img {
  border-radius: 50%;
  width: 25px;
}
.MainArtsAuthor p {
  font-size: 13px;
  font-weight: 500;
  margin-inline-start: 0.3rem;
}
.MainArtsTitle {
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 0.5rem;
}
.description {
  color: rgb(108, 108, 108);
  font-size: 16px;
  margin-bottom: 0.8rem;
}
.artFooter {
  display: flex;
  justify-content: space-between;
}

.dateReadingTime {
  display: flex;
  align-items: center;
}
.category {
  background-color: #f2f2f2;
  padding-inline: 0.5rem;
  padding-block: 0.3rem;
  border-radius: 10px;
}

.category a {
  text-decoration: none;
  color: rgb(108, 108, 108);
}

/*ASIDE*/
aside {
  margin-inline-start: 4rem;
  flex-basis: 30%;
}
#discover-more {
  margin-top: 3rem;
  position: sticky;
  top: 100px;
  z-index: 2;
}

#discover-more h5 {
  font-weight: 500;
  margin-bottom: 0.5rem;
}
#discover-more a {
  text-decoration: none;
}
#topics {
  display: flex;
  flex-wrap: wrap;
}
#topics span {
  background-color: #f2f2f2;
  padding: 0.6rem;
  padding-inline: 1.1rem;
  border-radius: 30px;
  margin: 0.3rem;
}
#seeMore {
  margin-block: 1.5rem;
  padding-bottom: 0.5rem;
}
#seeMore a {
  color: #348b01;
  font-size: 14px;
}
#seeMore a:hover {
  color: black;
}

#foot {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
#foot a {
  margin-inline: 0.8rem;
  margin-block: 0.3rem;
  color: rgb(108, 108, 108);
  font-size: 15px;
}
